       <h3> 配送先編集</h3>
    <%= form_with(model: @address,url:customers_address_path,local: true,method: :patch) do |f| %>
        <div class="edit_address">
            <tr>
            <div class="row">
                <div class="col-xs-3">
                    <th>郵便番号(ハイフンなし)</th>
                </div>
                <div class="col-xs-9">
                    <th><%=f.text_field:postal_code , autofocus: true, autocomplete: "postal_code"%></th>
                </div>
            </div>
            </tr>
            <tr>
            <div class="row">
                <div class="col-xs-3">
                    <th>住所</th>
                </div>
                <div class="col-xs-9">
                    <th><%=f.text_field:address,:size => "40" , autofocus: true, autocomplete: "address" %></th>
                </div>
            </div>
            </tr>
            <tr>
            <div class="row">
                <div class="col-xs-3">
                    <th>宛名</th>
                </div>
                <div class="col-xs-9">
                    <th><%=f.text_field:name , autofocus: true, autocomplete: "name" %></th>
                </div>
            </div>
            </tr>
            <%= f.submit "編集する",class:"btn btn-primary",style:"margin-left:70%;"%>
            <% end %>
        </div>