    <%#= link_to new_admins_item_path do %>
        <%# <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> %>
    <%# end %>
     
  <h3>配送先登録/一覧</h3>
        <%= form_with(model: @address, url:customers_addresses_path,local: true,method: :post) do |f| %>
        <div class="address-wrapper">
                <div class="row">
                    <div class="col-xs-4">郵便番号(ハイフンなし)</div>
                    <div class="col-xs-8"><%= f.text_field:postal_code %></div>
                </div>
                <div class="row">
                    <div class="col-xs-4">住所</div>
                    <div class="col-xs-8"><%= f.text_field:address ,:size=>"30px;"%></div>
                </div>
                <div class="row">
                    <div class="col-xs-4">宛名</div>
                    <div class="col-xs-8"><%= f.text_field:name %>
                        <%= f.submit "登録する",class:"btn btn-success",style:"margin-left:100px;" %>
                           <% if @address.errors.any? %>
                      <div id="error_explanation" class="alert alert-danger">
                        <ul>
                    error
                      <% @address.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                        <% end %>
                    </div>
                </div>
        </div>
<div class="address-index">    
    <table border="2"> 
        <tr>
            <th>郵便番号</th><th>住所</th><th>宛名</th><th></th>
        </tr>
            <% @addresses.each do |address| %>
            
                <tr>  
                    <td><%= address.postal_code %></td>
                    <td><%= address.address %></td>
                    <td><%= address.name %></td>
                    <%#= address.id %>
                    <td >
                    <center >
                         <%= link_to "編集する",edit_customers_address_path(address), class: 'btn btn-primary' %>
                        <%= link_to "削除する",customers_address_path(address), method: :delete, class: 'btn btn-danger' %>
                    </center>
                    </td>       
                </tr> 
            <% end %>
    </table>
</div>

