<div class="row">
    <h3 style="background-color:gray;display:inline-block">配送先登録/一覧</h3>
        <%= form_with(model: @address, url:customers_addresses_path,local: true,method: :post) do |f| %>
            <tr>
                <th class="col-xs-4">郵便番号(ハイフンなし)</th>
                <td class="col-xs-8"><%= f.text_field:postal_code %></td>
            </tr>
            <br>
            <tr>
                <th class="col-xs-4">住所</th>
                <td class="col-xs-8"><%= f.text_field:address %></td>
            </tr>
            <br>
            <tr>
                <th class="col-xs-4">宛名</th>
                <td class="col-xs-8"><%= f.text_field:name %></td>
            </tr>
        <%= f.submit "登録する",class:"btn btn-success" %>
        <% end %>
</div>
    <table> 
        <tr>
            <th>郵便番号</th><th>住所</th><th>宛名</th><th></th>
            <% @addresses.each do |address| %>
                <th><%= address.postal_code %></th>
                <th><%= address.address %></th>
                <th><%= address.name %></th>
                <th>
                    <%= button_to customers_address_path(address), method: :pacth, class: 'btn btn-primary' %>
                    <%= button_to customers_address_path(address), method: :delete, class: 'btn btn-danger' %>
                </th>
                <% end %>
        </tr>
    </table>
