<h3 style="background-color:gray;display:inline-block">注文情報確認</h3>
<div class="row">
    <%= form_with(model: @order, url:customers_orders_path,local: true, method: :post) do |f| %>
        
        <div class="col-xs-8">
            <div class="left">
                <table border="2">
                    <thead>
                        <th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th>
                    </thead>
                        <% sum = 0 %>
                        <% @cart_items.each do |cart_item|%>
                            <tr>
                                <td><%= cart_item.item.name %></td>
                                <td><%= (cart_item.item.price*$tax).round %></td>
                                <td><%= cart_item.amount %></td>
                                <td><%= (cart_item.item.price*1.08).round*(cart_item.amount) %></td>
                                    <% cart_item_price = (cart_item.item.price*1.08*cart_item.amount).round %>
                                        <% cart_item_price %>
                                        <% sum = sum + cart_item_price %>
                            </tr>
                        <% end%>
                </table> 
            </div>
        </div>
        <div class="col-xs-3">
            <div class="right_box">
                <table border="2">
                    <tr>
                        <td>送料</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>商品合計</td>
                        <td><%= sum.round %></td>
                    </tr>
                    <tr>
                        <td>請求金額</td>
                        <td><%= (sum + 800).round %></td>
                    </tr>
                </table>
            </div>
        </div>
</div>
       <div class="confirm_box"></div>
        <h3>支払い方法</h3>
            <%=@order_payment %>
            <br>
        <h3>お届け先</h3>
            <%= @order_address.postal_code%>
            <%= @order_address.address%>
            <br>
            <%= @order_address.name%>
          <%#addressオプションをローカルでエラーでたのでインスタンス変数にした%>
        
        <%= f.hidden_field :payment_method, value: @order_payment %>
        <%= f.hidden_field :address, value: @address_option %>
        <%= f.hidden_field :name, value: @name %>
        <%= f.hidden_field :shipping_cost, value: 800 %>
        <%= f.hidden_field :total_payment, value: (sum + 800).round %>
        <%#= f.hidden_field :status, value: @status  %>
        <%#= f.hidden_field :status, value: true  %>
         <%#= form.submit '情報を確定する',customers_orders_complete_path,class:"btn btn-primary"%>
        <br>
        <%= f.submit '情報を確定する',class:"btn btn-success"%>
        
    <% end %>

