<div class="order_show_view">
<h3>注文履歴詳細</h3>
<div class="row">
        <div class="col-xs-7">
                 <table border="2">
                 <h4>注文情報</h4>
                    <tr>
                        <th style="background-color:lightgray">注文日</th>
                        <td><%= @order.created_at.strftime("%Y/%m/%d")%></td>
                    </tr>
                    <tr>
                        <th style="background-color:lightgray">配送先</th>
                        <td >
                            <%= @order.postal_code %><br>
                            <%= @order.address %><br>
                            <%= @order.name %>
                        </td>
                    </tr>
                    <tr>
                        <th style="background-color:lightgray">支払方法</th>
                        <td><%= @order.payment_method %></td>
                    </tr>
                    <tr>
                        <th style="background-color:lightgray">ステータス</th>
                        <td><%= @order.status %></td>
                    </tr>
            </table>
        </div>
        <div class="col-xs-5">
            <h4>請求情報</h4>
                    <table border="2">
                            <tr>
                                <th style="background-color:lightgray">商品合計</th>
                                <td><%= @sum.to_s(:delimited) %></td>
                            </tr>
                            <tr>
                                <th style="background-color:lightgray">送料</th>
                                <td>800</td>
                            </tr>
                            <tr>
                                <th style="background-color:lightgray">請求金額</th>
                                <td><%= (@sum + 800).to_s(:delimited) %></td>
                            </tr>
                    </table>
        </div>
</div>
    <h4>注文内容</h4>
       <table border="2">
            <%# sum = 0 %>
            <%# @cart_items.each do |cart_item|%>
                <thead>
                    <tr style="background-color:lightgray">
                    <th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th>
                    </tr>
                </thead>
                <% @order_details.each do |order_detail| %>
                <tr>
                    <td><%= order_detail.item.name %></td>
                    <td><%= (order_detail.item.price*$tax).round %></td>
                    <td><%= order_detail.amount %></td>
                    <th>
                        <% one_item_sum = (order_detail.item.price*1.08).round*(order_detail.amount) %>
                        <%= one_item_sum.to_s(:delimited) %>
                    </th>

                </tr>
            <% end%>
        </table>
</div>
