
<div class="row">
    <h2 style="background-color:gray;display:inline-block">注文情報入力</h2>
        <%= form_with(model: @customer, url:customers_path, local: true,method: :patch) do |f| %>
            <table>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">名前</th>
                            <td class="col-xs-8">
                                （姓）<%= f.text_field :first_name , autofocus: true, autocomplete: "name" %>
                                （名）<%= f.text_field :last_name , autofocus: true, autocomplete: "name" %>
                            </td>
                    </tr>
                </div>
                <br>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">かな</th>
                            <td class="col-xs-8">
                                （セイ）<%= f.text_field :first_name_kana , autofocus: true, autocomplete: "name" %>
                                （メイ）<%= f.text_field :last_name_kana , autofocus: true, autocomplete: "name" %>
                            </td>
                    </tr>
                </div>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">メールアドレス</th>
                            <td class="col-xs-8">
                                
                                <%= f.text_field :email , autofocus: true, autocomplete: "email" %>
                            </td>
                    </tr>
                </div>
                <br>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">郵便番号（ハイフンなし）</th>
                            <td class="col-xs-8">
                            
                                <%= f.text_field :postal_code , autofocus: true, autocomplete: "name" %>
                            </td>
                    </tr>
                </div>
                <br>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">住所</th>
                            <td class="col-xs-8">
                            
                                <%= f.text_field :address , autofocus: true, autocomplete: "name" %>
                            </td>
                    </tr>
                </div>
                <br>
                <div class="field">
                    <tr>
                        <th class="col-xs-4">電話番号（ハイフンなし）</th>
                            <td class="col-xs-8">
                    
                                <%= f.text_field :telephone_number , autofocus: true, autocomplete: "name" %>
                            </td>
                    </tr>
                </div>
                <br>
               
            </table>
            <%= f.hidden_field :encrypted_password, value: current_customer.encrypted_password %>
            <%= f.hidden_field :reset_password_token, value: current_customer.reset_password_token %>
         <br>
        <div class="actions">
            <%= f.submit "編集内容を保存する",class:"btn  btn-primary" %>
            <%= link_to "退会する",customers_unsubscribe_path,class:"btn  btn-danger"  %>

        </div>
    <% end %>
</div>