<div class="row">
 <h3 style="background-color:gray;display:inline-block">商品一覧</h3>
      <%= link_to new_admins_item_path do %>
        <svg width="1em" height="5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      <% end %>
         <table class="table">
            <thead><tr><th>商品ID</th><th>商品名</th><th>税抜価格</th><th>ジャンル</th><th>ステータス</th></thead>
                  <% @items.each do |item|  %>
                    <tr>
                        <td><%=item.id %></td>
                        <td><%= link_to (item.name),admins_item_path(item) %></td>
                        <td><%=item.price %></td>
                        <td><%= item.genre.name %></td>
                        <td>
                          <% if item.is_active == YAML.load("true")%>
                            販売中
                          <% else  %>
                            販売停止中
                          <% end %>
                         </td>
                    </tr>
                  <% end %>
          </table>
</div>