<div class="row">
    <h3>商品詳細</h3>
        <div class="col-xs-3">
               <% @item.each do |item|%>
                <%= item.image_id %>
            <% end%>
        </div>
        <div class="col-xs-7">
            <% @item.each do |item|%>
                <h4>商品名</h4>
                <%= item.name %>
                <h4>商品説明</h4>
                    <%= item.introduction %>
                <h4>ジャンル名</h4>
                    <%= item.genre %>
                <h4>税抜価格</h4>
                    <%= item.price %>
                <h4>販売ステータス</h4>
                    <%= item.status %>
             <% end %>
        </div>
        <div class="col-xs-2">
        <%= link_to "編集する", edit_admins_item_path %>
        </div>
</div>