<div class="row">
        <div class="col-xs-3">
            <div class="genre_table">
                <table border="2">
                    <tr>
                        <th><h4>ジャンル検索<h2></th>
                    </tr>
                    <tr>
                        <th>ケーキ</th> 
                    </tr> 
                    <tr>
                        <th>焼き菓子</th> 
                    </tr> 
                    <tr>
                        <th>プリン</th> 
                    </tr>
                    <tr>
                        <th>キャンディ</th> 
                    </tr>
                </table>
            </div>
        </div>
<% if customer_signed_in? %>
        <div class="col-xs-9">
              <div class="recommend_item">
                <div class="item-sum">
                <h3>商品一覧</h3>
                    <p>（全<%= (@items).count %>件) </p>
                </div>
                <br>
               <% @items.each do |item|%>
                <tr>
                <td><%= link_to (image_tag "#{item.image_id}",size:'100x100'),customers_item_path(item.id) %></td>
                        <%#= link_to (item.image_id), do  %>
                        <%#= attachment_image_tag item,:image,fallback: "noimage.jpg", size:'100x100' %>
                    <h5><%=item.name %></h5>
                    <h5>¥<%=item.price %></h5>
                    <%# end %>
                <tr>
                <% end%>
              </div>   
        </div>
    <% else %>
        <div class="col-xs-9">
            <div class="top_caption">
                <br>ようこそ、Nagano cakeへ！
                <br>このサイトはケーキ販売のECサイトになります。
                <br>会員でない方も商品の閲覧ができますが、
                <br>購入には会員登録が必要になります。
            </div>
            <div class="recommend_item">
              <h3>オススメ商品</h3>
                <% @items.each do |item|%>
                 <tr>
                  <td><%= link_to (image_tag "#{item.image_id}",size:'100x100'),customers_item_path(item.id) %></td>
                    <%#= link_to (item.image_id), do  %>
                    <%#= attachment_image_tag item,:image,fallback: "noimage.jpg", size:'100x100' %>
                    <h5><%=item.name %></h5>
                    <h5>¥<%=item.price %></h5>
                    <%# end %>
                 <tr>
                <% end %>
            </div>
        </div>
        <% end %>
</div>


