
<h4 style="background-color:gray;display:inline-block">会員の方はこちらからログイン</h4>
  <div class="session_box">
    <%= form_for(resource, as: resource_name, url: customer_session_path) do |f| %>
      <div class="row">
        <div class="col-xs-3">
          <%= f.label :"メールアドレス" %>
        </div>
        <div class="col-xs-9">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"col-xs-8" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-3">
          <%= f.label :"パスワード" %>
        </div>
        <div class="col-xs-9">
          <%= f.password_field :password, autocomplete: "current-password",class:"col-xs-8" %>
        </div>
      </div>
          <p><%= link_to '→パスワードをお忘れの方はこちら',root_path,style:"float:left;",style:"margin:30%;" %></p>
          <%= f.submit "ログイン",class:"btn btn-primary"%>
          <% end %>
      </div>
      <br>
      <div class="not-register">
        <h4 style="background-color:gray;display:inline-block">登録がお済みではない方</h4>
         <br>
        <div style="margin-left:100px;">
          <%= link_to"こちら",new_customer_registration_path%><span>から新規登録を行なってください</span>
        </div>
      </div>
    </div>