<div claas="row">
        <div class="shoppingcart">ショッピングカート</div>
        <div>
           <td><%= button_to 'カートを空にする', customers_cart_items_delete_all_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %></td>
        </div>
        <table border="2">
            <tr>
            <th>商品名</th>  <th>単価（税込）</th>  <th>数量</th>  <th>小計</th>  <th><span></span></span></span></th>
            </tr>
             <% @cart_items.each do |cart_item| %>
            <tr>
                <%#= attachment_image_tag cart_item.item,:image ,:fill,  60, 60, fallback: "noimage.jpg", size:'100x100'%>
                <td><%= cart_item.item.name %></td>
                <td><%= (cart_item.item.price*1.08).round %></td>
                <td>
                <%=form_for(cart_item,url:customers_cart_item_path(cart_item.id),method: :patch) do |f| %>
                <%= f.text_area :amount %>
                <%= f.submit "変更",class:"btn btn-primary"%>
                <% end %>
                </td>


                <td><%= cart_item.item.price*1.08*(cart_item.amount) %></td>
                 <td><%= button_to '削除する', customers_cart_item_path(cart_item), method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %></td>
                <%#= link_to"削除する", customers_cart_item_path(cart_item.id),class:"btn btn-danger" ,method: :delete%>
            </tr>

    
        <% end %>
 </table>
        <br>
        <div class="shoppingcart_bottom">
            <%= link_to"買い物を続ける",customers_items_path,class:"btn btn-primary"%>
            <th>合計金額</th>      <th>１４００</th>
            <%= link_to"情報入力にすすむ", new_order_path,class:"btn btn-success"%>
        </div>
</div>